# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Private/raw data
data/raw/
*.zip

#Youtube API Key
.env
# Private imported listening histories
data/imports/
